<p>Creation d'un nouveau centre de vaccination</p>

<div>
    <mat-form-field>
        <input matInput type="text" placeholder="Nom" [(ngModel)]="name">
    </mat-form-field>
</div>
<div>
    <mat-form-field>
        <input matInput type="text" placeholder="Pays" [(ngModel)]="country">
    </mat-form-field>
</div>
<div>
    <mat-form-field>
        <input matInput type="text" placeholder="Code postal" [(ngModel)]="postalCode">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Ville" [(ngModel)]="city">
    </mat-form-field>
</div>
<div>
    <mat-form-field>
        <input matInput type="text" placeholder="Numero de voie" [(ngModel)]="streetNumber">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Rue" [(ngModel)]="street">
    </mat-form-field>
</div>
<div>
    <button mat-raised-button color="primary" (click)="create()">Créer</button>
</div>
