<p>Vous êtes connecté en tant que :</p>

<div class="info-box">
    <li>Nom : {{user?.name}}</li>
    <li>Role : {{user?.role}}</li>
    <li>État de connexion : {{ user?.isLogged }}</li>
    <li>Addresse : {{user?.address}}</li>
    <li>Centre de vaccination : {{user?.healthCenter}}</li>
</div>

<div *ngIf="user">
    <ul>
      <li *ngIf="user.role.toString() === 'SUPER_ADMIN'">
        <button (click)="toggleContainerCentres()">Centres</button>
      </li>
      <li *ngIf="(user.role.toString() === 'ADMIN' || user.role.toString() === 'SUPER_ADMIN') && user.healthCenter">
        <button (click)="toggleContainerMonCentre()">Mon centre</button>
      </li>
      <li *ngIf="user.healthCenter">
        <a href="planning">Planning</a>
      </li>
      <li *ngIf="user.role.toString() === 'SUPER_ADMIN'">
        <a href="Config">Config</a>
      </li>
    </ul>
  </div>

<!--le container truc est juste un test bool, il faut en créer un pour chaque container à afficher ou cacher-->
<!--ensuite le app-user-detail est la pour le test mais il faut le remplacer par le bon container-->
  <div *ngIf="showContainerUserDetail">
    <app-user-detail></app-user-detail>
  </div>

  <div *ngIf="showContainerCenters">
    <app-search-bar
      (hidden)="toggleContainerNewCentreAndHideSearchBar()"
      (hiddenCreate)="toggleContainerCenterDetails($event)"
      (hiddenUsers)="toggleContainerUserListBox($event)">
    </app-search-bar>
  </div>

  <div *ngIf="showContainerNewCenter">
    <app-new-center
      (newCenterCreated)="toggleContainerCentres()">
    </app-new-center>
  </div>

  <div *ngIf="showContainerCenterDetails">
    <app-center-detail [center]="healthCenterForDetails!"
      (updatedAndHidden)="toggleContainerCentres()"
      (hidden)="toggleContainerCentres()"
      (usersListCenterDetail)="toggleContainerUserListBox($event)">
    </app-center-detail>
  </div>

  <div *ngIf="showContainerUserListBox">
    <app-center-detail-box [center]="healthCenterForUsers!"
    (createdUserAndHide)="toggleContainerNewUser(healthCenterForUsers!, $event)"
    (modifyAndHide)="toggleContainerModifyUser(healthCenterForUsers!, $event)"
    (deleteAndHide)="toggleContainerConfirmationUser($event)"></app-center-detail-box>
  </div>


  <div *ngIf="showContainerUserCreation">
    <app-user-detail 
    [center]="healthCenterForUsers!"
    [role]="roleForUser!"
    (createdAndHide)="hideContainerNewUser()"
    (hidden)="hideContainerNewUser()"></app-user-detail>
  </div>

  <div *ngIf="showContainerUserModification">
    <app-user-detail 
    [user]="userToModify!"
    [center]="healthCenterForUsers!"
    (createdAndHide)="hideContainerNewUser()"
    (hidden)="hideContainerNewUser()"></app-user-detail>
  </div>

  <div *ngIf="showContainerConfirmationUser">
    <app-menu-centers
    [user]="userToDelete!"
    (deleted)="hideContainerNewUser()">
    </app-menu-centers>
  </div>

  <li>
    <button (click)="loggout()">Se Déconneter</button>
  </li>

  