<div class="centerList" *ngIf="centers" cdkAccordion>
    <div *ngFor="let center of centers">
      <h2 cdkAccordionItem cdkAccordionItemHeader>{{ center.name }}</h2>
      <div cdkAccordionItemContent>
        <div class="box">
          <div>
            <span>{{ center.address.postalCode }}</span>,
            <span>{{ center.address.city }}</span>
          </div>
          <button mat-raised-button color="primary" (click)="showUsers(center)">Personnel</button>
          <button mat-raised-button color="primary" (click)="modifyCenter(center)">Modifier</button>
        </div>
      </div>
    </div>
  </div>