<button mat-raised-button color="primary" (click)="searchEmpty()">Annuler</button>
<mat-form-field>
    <input matInput type="text" placeholder="Indiquez une ville" [(ngModel)]="searchQuery">
</mat-form-field>
<button mat-raised-button color="primary" (click)="search()">Chercher</button>
<button mat-raised-button color="primary" (click)="hide()">Nouveau</button>



<div>
    <app-center-box [centers]="centers"
    (startModifyCenter)="hideAndModify($event)"
    (usersListCenter)="hideAndShowUsers($event)"></app-center-box>
</div>

