<div *ngIf="center">  
    <p>Modification du centre de vaccination : </p>
    <div>
        <p>Nom du centre :</p>
        <input type="text" placeholder="Nom" [(ngModel)]="updatedCenter.name">
    </div>
    <div>
        <p>Pays :</p>
        <input type="text" placeholder="Pays" [(ngModel)]="newAddress.country">
    </div>
    <div>
    <p>Code postal :</p>
    <input type="number" placeholder="Code postal" [(ngModel)]="newAddress.postalCode">
    <p>Ville :</p>
    <input type="text" placeholder="Ville" [(ngModel)]="newAddress.city">
    </div>
    <div>
        <p>Numéro de rue :</p>
        <input type="number" placeholder="Numero de rue" [(ngModel)]="newAddress.streetNumber">
        <p>Rue :</p>
        <input type="text" placeholder="Rue" [(ngModel)]="newAddress.street">
    </div>
    <div>
        <button (click)="hide()">Annuler</button>
    </div>
    <div>
        <button (click)="saveAndHide(updatedCenter, newAddress)">Enregistrer</button>
    </div>
    <div>
        <button (click)="users(center!)">Personnel</button>
    </div>
</div>
