/* Apply styles to the containing div */
.info-box {
    display: inline-block; /* Display as inline block */
    border: 2px solid #000000; /* Blue/green border */
    background-color: #f9292928; /* Blue/green background */
    border-radius: 25px; /* Rounded edges */
    font-family: Arial, sans-serif; /* Change the font */
    color: #ffffff; /* Blue text color */
    padding: 25px; /* Add padding for spacing */
    list-style-type: none; /* Remove bullet points from the ul */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.492); /* Horizontal offset, vertical offset, blur radius, color */
}

/* Apply styles to the list items */
.info-box ul li {
    margin: 5px 0; /* Add spacing between list items */
}