:host {
     margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Add vertical centering */
    height: 100vh;
}
  
  .login-section {
    margin: 0;
    padding: 0;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  mat-form-field {
    width: 100%;
    margin: 1vh 0;
  }
  
  button {
    margin: 1vh 0;
    background-color: #F9A1A1;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #000000;
  }