<div>
    {{role!}}
</div>
<button (click)="createNewUserAndHide()">Créer</button>
<div class="centerList" *ngIf="users">
    <ul>
        <li *ngFor="let user of users">
            <div class="detail" *ngIf="user">
                <div class="box">
                    <h2 [title]="user.name">{{user.name}}</h2> 
                    <div> 
                        <span>{{user.id}}</span>
                    </div>
                    <button (click)="modifyUserAndHide(user)">Modifier</button>
                    <button (click)="deleteUserAndHide(user)">Supprimer</button>
                </div>
            </div>
        </li>
    </ul>
</div>
